/* Award styles for embedding */
div#awards {
    margin-top: 0px;
}

div#awards hr {
    margin: 7px auto 7px auto;
    width: 160px;
}

div#awards div.award {
    margin-top: 10px;
    width: 260px;
    height: 120px;
    background: url("laurel-left.png") left no-repeat, url("laurel-right.png") right no-repeat;
    display: inline-block;
    font-family: Open Sans, sans-serif;
}

div#awards div.award h2 {
    margin: 0;
    font-size: 13pt;
    color: #fff;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
}

div#awards div.award p {
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    font-size: 9.5pt;
    color: #fff;
    text-align: center;
    font-family: Open Sans, sans-serif;
}

div#awards div.award span.italic,
div#awards div.award p.italic {
    font-style: italic;
}

div#awards div.award p.small {
    font-size: 6.5pt;
}

div#awards div.award p.medium {
    font-size: 9pt;
}
