html, body {
    background-color: #3498db;
    background-image: none;
}

div.award-table {
    margin-left: 16px;
    margin-right: 16px;
}

div.award-data {
    margin-right: 16px;
}

h1 {
    color: #F1F2EE;
}

h2.award-maker {
    color: #fff;
    border-bottom: 1px solid #F1F2EE;
}

h1.title {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 16px;
    background-color: #2c3e50;
}

form {
    margin-bottom: 0;
}

form input {
    font-style: normal !important;
}

.award-json div.uk-container-center,
.award-presskit div.uk-container-center {
    width: 100%;
}

div.award-presskit {
    margin-top: 16px;
}

div.award-preview {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
}

div.award-preview-container {
    background-color: 0;
}

.award-json textarea,
.award-presskit textarea {
    width: 100%;
    height: 100px;
}

.award-json textarea,
.award-presskit textarea {
    resize: none;
}

button.remove-award {
    display: none;
}

td {
    line-height: 26px;
}

tbody tr:hover button.remove-award {
    display: inline-block;
}

button.add-award,
button.remove-award {
    width: 26px;
    height: 26px;
}

td.add-award-container {
    vertical-align: middle;
}

/* Award styles for embedding */
div#awards {
    margin-top: 0px;
}

div#awards hr {
    margin: 7px auto 7px auto;
    width: 160px;
}

div#awards div.award {
    margin-top: 10px;
    width: 260px;
    height: 120px;
    background: url("laurel-left.png") left no-repeat, url("laurel-right.png") right no-repeat;
    display: inline-block;
    font-family: Open Sans, sans-serif;
}

div#awards div.award h2 {
    margin: 0;
    font-size: 13pt;
    color: #fff;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
}

div#awards div.award p {
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    font-size: 9.5pt;
    color: #fff;
    text-align: center;
    font-family: Open Sans, sans-serif;
}

div#awards div.award span.italic,
div#awards div.award p.italic {
    font-style: italic;
}

div#awards div.award p.small {
    font-size: 6.5pt;
}

div#awards div.award p.medium {
    font-size: 9pt;
}
