body {
    background-color: #fff;
    margin: 24px;
}

h1 {
    /*color: #fff;*/
}

h1.title {
    text-align: center;
}

form {
    margin-bottom: 0;
}

form input {
    font-style: normal !important;
}

.award-json div.uk-container-center,
.award-presskit div.uk-container-center {
    width: 100%;
}

div.award-json,
div.award-presskit,
div.award-preview {
    margin-top: 16px;
}

.award-json textarea,
.award-presskit textarea {
    width: 100%;
    height: 100px;
}

.award-json textarea,
.award-presskit textarea {
    resize: vertical;
}

td.add-award-container {
    vertical-align: middle;
}

/* Award styles for embedding */
div#awards {
    margin-top: 0px;
}

div.award {
    margin-top: 10px;
    width: 240px;
    height: 120px;
    background: url("laurel-left.png") left no-repeat, url("laurel-right.png") right no-repeat;
    display: inline-block;
    /*font-family: Open Sans, sans-serif;*/
}

div.award h2 {
    margin: 0;
    font-size: 13pt;
    /*color: #fff;*/
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

div.award p {
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    font-size: 9.5pt;
    /*color: #fff;*/
    text-align: center;
}

div.award span.italic,
div.award p.italic {
    font-style: italic;
}

div.award p.small {
    font-size: 6.5pt;
}

div.award p.medium {
    font-size: 9pt;
}
